<div class=" justify-content-center">
  <div class="card">
    <div class="card-header">Fixed Projects</div>
    <div class="card-body">
      <div class="row justify-content-around">
        <div class="col-4"><small class="text-danger">Standard</small></div>
        <div class="col-4"><small class="text-danger">Standard</small></div>
      </div>
      <div class="row justify-content-around">
        <div class="col-4">Standard </div>
        <div class="col-4">Premium</div>
      </div>
      <br />

      <br />
      <div>
        <p class="card-text">
          <small>Some quick example text to build on the card title and make up the
            bulk of the card's content.</small>
        </p>
        <div>7 day Delivery</div>
      </div>

      <div>
        <div class="d-grid gap-2">
          <button class="btn btn-outline-danger rounded-4" type="button">
            Send Offers
          </button>
          <button class="btn btn-outline-danger rounded-4" type="button">
            Button
          </button>
        </div>
        <a href="" class="mt-3 text-danger">Compare Offers</a>
      </div>
    </div>
  </div>
  <br />
  <div class="card">
    <div class="card-header">Fixed Projects</div>
    <div class="card-body">
      <div class="row justify-content-around">
        <div class="row justify-content-around">
          <div class="col-4"><small class="text-danger">Standard</small></div>
          <div class="col-4"><small class="text-danger">Premium</small></div>
        </div>
        <div class="row justify-content-around">
          <div class="col-4"><small>Standard</small></div>
          <div class="col-4">Premium</div>
        </div>
        <br />

        <br />
        <div>
          <br />

          <p class="card-text mt-2  mb-2">
            <small>Some quick example text to build on the card title and make up the
              bulk of the card's content.</small>

          </p>
        </div>
        <div>7 day Delivery</div>
        <br>

        <div>
          <div class="d-grid gap-2">
            <button class="btn btn-outline-danger rounded-4" type="button">
              Send Offers
            </button>
          </div>
          <a href="" class="mt-3 text-danger">Compare Offers</a>
        </div>
      </div>
    </div>
  </div>
</div>